.headerContainer {
  width: 100%;
  max-width: 1280px;
  height: 3rem;
  background-color: #0f0f13;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid #3d3f42;
  justify-content: space-between;
}

.leftSide {
  width: 25%;
}

.leftSide .logoContainer {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftSide .logoContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.mainIconsContainer,
.rightIconsContainer {
  display: flex;
  /* justify-content: space-evenly; */
}
.mainIconsContainer {
  width: 70%;
  justify-content: space-evenly;
}

.middle_iconStyles {
  color: white;
  font-size: 1.5rem;
  opacity: 0.6;
  cursor: pointer;
}

.rightSide {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightIconsContainer {
  width: 30%;
}

.right_iconsContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.end_iconStyles {
  color: white;
  font-size: 1.5rem;
  opacity: 0.6;
  cursor: pointer;
  margin-left: 1.5rem;
}

@media (max-width: 480px) {
  .headerContainer {
    position: absolute;
    bottom: 0;
  }
  .leftSide {
    display: none;
  }
  .rightSide {
    width: 100%;
    justify-content: center;
  }
  .mainIconsContainer {
    min-width: 100%;
    justify-content: space-between;
  }
  .right_iconsContainer {
    display: none;
    width: 0;
  }
  .end_iconStyles {
    margin: 0;
  }
  .hideOnMobiles {
    display: none;
  }
}
