.headerContainer {
}

.brandIconContainer {
}

.menuContainer {
  /* margin-right: auto; */
}

.profileImageContainer {
  /* width:  25px;
  height: 25px; */
}
.placeholderImage {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 1.25rem;
}

.userName {
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  /* border-bottom: 1px solid black; */
}
.userName:hover {
  color: blue;
  border-bottom: 1px solid blue;
}

.menuContainer {
  padding: 0rem 3.5rem;
}
@media only screen and (max-width: 768px) {
  .brandIconContainer {
    display: none;
  }
  .headerContainer {
    background-color: #f2f7fb;
  }
  .menuContainer {
    width: 100%;
    margin-right: 2rem;
  }
  .HeaderLeftSide {
    display: none;
  }
  .menuContainer {
    padding: 0rem 1rem;
  }
}

@media only screen and (max-width: 640px) {
  .brandIconContainer {
    display: none;
  }
  .headerContainer {
    background-color: #f2f7fb;
  }
  .menuContainer {
    justify-content: space-between;
  }
}
