.storiesContainer {
  display: flex;
  margin-top: 0.5rem;
  overflow-y: hidden;
  padding: 0.5rem 0rem;
}

.circle {
  position: relative;
  min-width: 80px;
  min-wheight: 80px;
}

.circle svg {
  fill: none;
  stroke: #8a3ab9;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: stroke-draw 6s ease-out infinite alternate;
}

.storiesContainer::-webkit-scrollbar {
  height: 5px;
}

.storiesContainer::-webkit-scrollbar-track {
}

.storiesContainer::-webkit-scrollbar-thumb {
  background: rgba(232, 232, 232, 0.9);
}

.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 58px;
  border-radius: 50%;
}
/* 
@keyframes stroke-draw {
  from {
    stroke: #8a3ab9;
    stroke-dasharray: 1;
  }
  to {
    stroke: #cd486b;
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
} */
