.signInForm {
  padding: 1.5rem 1.5rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(61, 63, 66, 0.25);
  border-radius: 15px;
}
.signInForm input {
  height: 3rem;
  border: 2px solid #999999;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 6px;
  outline: none;
  color: white;
  background-color: rgba(61, 63, 66, 0.25);
}
.signInForm button {
  height: 3rem;
  margin-top: 1rem;
  outline: none;
  border-radius: 6px;
}
.loginBtn {
  background-color: #2070e0;
  font-weight: 500;
  color: white;
  border: 2px solid #2070e0;
}
.loginBtn:hover {
  background-color: rgba(61, 63, 66, 0.25);

  border: 2px solid #2070e0;
  font-weight: 500;
  color: #2070e0;
  transition: all 0.4s ease;
}

.forgetPassword {
  margin-top: 1rem;
  text-align: center;
  color: #2070e0;
  cursor: pointer;
}

.createNewAcc {
  background-color: #3daa28;
  color: white;
  font-weight: 500;
  border: 2px solid #3daa28;
}

.createNewAcc:hover {
  background-color: rgba(61, 63, 66, 0.25);
  border: 2px solid #3daa28;
  font-weight: 500;
  color: #3daa28;
  transition: all 0.4s ease;
}
